* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: rgb(249, 165, 201);
}

.winner-text {
  width: 100%;
  height: 45px;
  font-size: 25px;
  text-align: center;
}

.button-container {
  width: 100%;
  text-align: center;
}

.button {
  color: #41393E;
  font-family: 'Bellefair', serif;
  text-transform: uppercase;
  border: 1px solid #41393E;
  background: none;
}

.button:hover {
  cursor: pointer;
  border: 1px dashed #41393E;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  text-align: center;
  color: #41393E;
  font-size: 45px;
  font-weight: 300;
}

.board {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.input {
  height: 33.33%;
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #41393E;
  font-family: 'Bellefair', serif;
  font-style: italic;
  font-weight: 700;
  font-size: 6rem;
}

.input-1 {
  border-right: 5px dashed #41393E;
  border-bottom: 5px dashed #41393E;
}

.input-2 {
  border-right: 5px dashed #41393E;
  border-bottom: 5px dashed #41393E;
}

.input-3 {
  border-bottom: 5px dashed #41393E;
}

.input-4 {
  border-right: 5px dashed #41393E;
  border-bottom: 5px dashed #41393E;
}

.input-5 {
  border-right: 5px dashed #41393E;
  border-bottom: 5px dashed #41393E;
}

.input-6 {
  border-bottom: 5px dashed #41393E;
}

.input-7 {
  border-right: 5px dashed #41393E;
}

.input-8 {
  border-right: 5px dashed #41393E;
}

.input,
.input-1,
.input-2,
.input-3,
.input-4,
.input-5,
.input-6,
.input-7,
.input-8:hover {
  cursor: pointer;
}


.info {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  width: 30vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #41393E;
}

.player {
  color: #41393E;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
}